:root {
  --bg-light: #1e90ff;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  background-color: #2e2e2e;
}

#svgBG {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  // pointer-events: none;
  z-index: -2;
  background-image: url(../img/bg-map.jpg);
  background-position: bottom left;
  background-size: cover;
}
#download-all-spreads {
  // position: fixed;
  border: 2px solid #e293c2;
  max-width: fit-content;
  margin: auto;
  border-radius: 10px;
  color: black;
  background: rgba(255, 255, 255, 0.281);
  padding: 12px 30px 10px 30px;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s;
}

/* Darker background on mouse-over */
#download-all-spreads:hover {
  background: rgba(255, 255, 255, 0.644);
}
#download-all-spreads-2 {
  position: fixed;
  right: 1rem;
  top: 1rem;
  border: 2px solid #e293c2;
  max-width: fit-content;
  border-radius: 10px;
  color: black;
  background: rgba(255, 255, 255, 0.281);
  padding: 10px 25px 8px 25px;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: #{"min(2vw,.8rem)"};
  // font-size: #{"min(.8vw,1rem)"};
  font-weight: bold;
  transition: all 0.2s;
}

/* Darker background on mouse-over */
#download-all-spreads-2:hover {
  background: rgba(255, 255, 255, 0.644);
}
#house-container {
  position: fixed;
  width: 100vw;
  height: 35vh;
  // background-color: blue;
  bottom: 0;
  left: 0;
  z-index: 2;
  .houses {
    // SID: Comment this make the glows visible
    display: none;
    position: relative;
    // background-color: rgba(255, 0, 0, 0.7);
    // border: 2px solid rgba(0, 0, 0, 0.479);
    // background-color: rgba(255, 0, 0, 1);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(100, 255, 126);
    background-color: white;
    box-shadow: 0px 0px 20px 2px white;
    // SID: Un Comment this line to start glowing
    // animation: glow 2s infinite alternate-reverse;
  }
  @keyframes glow {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }

  #house-nicholas {
    transform: matrix(1.55, 0, 0, 1, 85, -111) rotate(36deg);
    height: 69px;
  }
  #house-emily {
    transform: matrix(1.25, 0, 0, 1, 129, -46) rotate(43deg);
    height: 68px;
    width: 53px;
  }
  #house-hannaj {
    transform: matrix(1, 0, -0.67, 1, 259, -44) rotate(26deg);
    height: 52px;
    width: 69px;
  }
  #house-ariella {
    transform: matrix(1, 0, 0, 1, 402, -26) rotate(53deg);
    height: 58px;
    width: 53px;
  }
  #house-marguerite {
    transform: matrix(1, 0, 0.7, 0.7, 506, -169) rotate(54deg);
    height: 89px;
    width: 77px;
  }
  #house-suyu {
    transform: matrix(1, -0.2, 0, 1, 758, -229) rotate(30deg);
    height: 62px;
    width: 109px;
  }
  #house-hannal {
    transform: matrix(1, 0, 0, 1, 920, -240) rotate(55deg);
    height: 70px;
    width: 117px;
  }
  #house-christian {
    transform: matrix(1, 0, 0, 1, 1008, -424) rotate(22deg);
    height: 54px;
    width: 139px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 1;
  p {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: white;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
}
.preloader-finish {
  opacity: 0;
  pointer-events: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #1e90ff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.heading {
  display: grid;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  color: #272626;
  #title {
    padding: 0.2em;
    // padding-bottom: 0;
    /*
    #{"max(1vw, 20px)"}
    we have to use min & max function in this format else the live sass compiler gives error.
    */
    font-size: #{"min(6vw,3.5rem)"};
    padding-bottom: 0;
  }
  #title2 {
    padding: 0.2em;
    font-size: #{"min(2vw,1rem)"};
  }
}
.wrapper {
  display: grid;
  // width: 70%;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  background-image: url(../img/zoom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  row-gap: 0.75em;

  padding: 5rem 8.5rem 7rem;
  //padding-bottom: 9.0rem;
  // z-index: 3;

  height: fit-content;

  .card {
    width: 8vw;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border: 5px solid rgb(39, 38, 38);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
    .details {
      position: absolute;
      bottom: 0;
      left: 0;
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 2px 10px 2px 4px;
      transform: translateY(100%);
      transition: all 0.3s;
      h3 {
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 0.7rem;
        color: white;
        padding: 0.2rem;
        padding-left: 0;
      }
    }
  }
}

.card:hover .details {
  transform: none;
}
.card:hover {
  border: 3px solid yellow;
}
